.index__hero .hero__button {
    margin: 80px auto 0;
}

.albums-row {
    overflow: hidden;
}

.albums-row__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: max-content;
    padding: 0 var(--container-paddind-inline);
    animation-name: albums-row;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    padding-block: 2rem;
}

@keyframes albums-row {
    50% {
        translate: calc((100% - 100vw) * -1);
    }
}

.albums-row__album {
    position: relative;
    top: 0;
    min-width: 373px;
    aspect-ratio: 1;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: 0.3s;

    &:hover {
        top: -12px;
        box-shadow: 12px 12px 0px 0px #81ADC8;
    }
}

#album__001 {
    background-image: url('../img/albums/cover-1.png');
}
#album__002 {
    background-image: url('../img/albums/cover-2.png');
}
#album__003 {
    background-image: url('../img/albums/cover-3.png');
}
#album__004 {
    background-image: url('../img/albums/cover-4.png');
}
#album__005 {
    background-image: url('../img/albums/cover-5.png');
}
#album__006 {
    background-image: url('../img/albums/cover-6.png');
}

.albums-row__album-tittle {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 36.6px;
    color: var(--color-pewter-blue);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -2.9px;
}


.albums-row__album-platforms {
    margin-left: auto;
    svg {
        margin-inline: 5px;
    }
}
path {
    transition: 0.3s;
}
.albums-row__google-podcasts:hover {
    path {
        fill: #FAB908;
    }
}
.albums-row__spotify:hover {
    path {
        fill: #1ED760;
    }
}
.albums-row__youtube:hover {
    path {
        fill: #FC0404;
    }
}

.supported-by {
    padding-bottom: 130px;
}

.supported-by__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 40px;
    padding-inline-end: 70px;
    border-block: 2px solid var(--color-davys-grey);

    img {
        margin-block: 1rem;
    }
}

.supported-by__text {
    font-size: 22.6px;
    font-weight: 700;
    line-height: 140%;
}

.tips {
    background-color: #FFF;
    position: relative;
    padding-bottom: 120px;
}

.tips__quotes {
    margin-top: 30px;
}

.tips__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-block: 100px;

    & > * {
        text-align: center;
        flex: 1;
    }
}

.tips__review {
    position: relative;
    text-align: center;
    padding: 40px 15px;
    border-radius: 8px;
    background-color: var(--color-champagne);
}

.tips__review-text {
    font-weight: 700;
    font-size: 36.6px;
    line-height: 140%;
    letter-spacing: -0.7px;
    margin-block: 35px;
}


.user-info {
    font-size: 14px;
    line-height: 160%;
    font-weight: 500;
}

.user-info__avatar,
.user-info__comp-logo {
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
    aspect-ratio: 1;
    margin-inline: 8px;
}

.user-info__avatar {
    bottom: 3px;
    margin-left: 0;
}

.user-info__position {
    font-weight: 700;
}

.decor {
    position: absolute;
}

// .tips__review-decor-1, 
// .tips__review-decor-2 {
//     position: absolute;
// }

.decor-scribble {
    top: -70px;
    left: calc(50% - 75px);
}

.tips__review-decor-1 {
    top: -50px;
    right: -50px;
}
.tips__review-decor-2 {
    bottom: 30px;
    left: -30px;
}

.comments {
    background-color: var(--color-alice-blue);
    position: relative;
}

.comments__wide-content {
    position: relative;
}

.comments__title {
    position: relative;
}

.comments__title-decor {
    left: 130px;
    top: -100px;
}

.comments__cards {
    margin-block: 60px;
    overflow: scroll;
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
}

.comment {
    padding: 40px;
    background-color: #FFF;
    border-radius: 8px;
    width: 570px;
    transition: 0.3s;
    position: absolute;
    left: 50%;
    scale: 0.1;
    translate: -50%;
    z-index: 0;
    cursor: pointer;
    user-select: none;
}

.comment__text {
    font-weight: 500;
    font-size: 22.65px;
    line-height: 160%;
}

.active-card {
    scale: 1;
    z-index: 1;
    cursor: auto;
    user-select: auto;
}
.prev-card,
.next-card {
    left: 25%;
    scale: 0.7;
    opacity: 0.5;
    z-index: 0;
}
.next-card {
    left: 75%;
}

.comments__controls {
    text-align: center;
}

.comments__control-prev,
.comments__control-next {
    user-select: none;
    margin-inline: 5px;
    path {
        transition: 0.3;
        stroke: black;
    }
}
.comments__control-prev:hover,
.comments__control-next:hover {
    path {
        transition: 0.3;
        stroke: var(--color-vermillion);
    }
}