@media screen and (max-width: 1300px) {
    .hero {
        background-size: 15vw, 10vw;
        background-position: 30px, calc(100% - 30px);
    }

    .tips__review-decor-1 {
        width: 100px;
        right: 20px;
    }
    .tips__review-decor-2 {
        bottom: -26px;
        width: 60px;
        left: 5px;
    }
}
@media screen and (max-width: 992px) {    
    body {
        overflow-x: hidden;
    }

    :root {
        --header-height: 70px;
    }
    .hero {
        background: none !important;
    }
    .nav-full__logo {
        margin-right: auto;
    }
    .nav-full__li-menu {
        display: none;
    }
    .nav-full__mob-menu-button {
        display: block;
    }
    .nav-mob__ul {
        display: block;
    }
    .decor-scribble {
        display: none;
    }

    .recent-episodes__decore {
        display: none;
    }


    .benefits__cards {
        grid-template-columns: 1fr 1fr;
    }

    .benefits__decor-1 {
        display: none;
    }

    .episodes-block {
        grid-template-columns: 1fr;
    }

    .sponsor__plans {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --container-paddind-inline: 15px;
    }


    section {
        padding-block: 50px;
    }
    
    .nav-full__ul {
        .button {
            display: none;
        }
    }
    .tips__cards {
        flex-direction: column;
        gap: 0;
    }

    .comment {
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .user-info {
            margin-top: auto;
            font-size: xx-small;
        }
    }
    .albums-row__album {
        min-width: max-content;
    }
    .active-card {
        opacity: 1;
    }
}
@media screen and (max-width: 480px) {
    :root {
        --header-height: 55px;
    }

    .decor {
        display: none;
    }

    .title {
        font-size: 2.7rem;
    }
    
    .hero__title {
        font-size: 50px;
    }

    .comments__cards {
        margin-bottom: 0;
    }

    .comments__controls {
        display: none;
    }

    .tips__review-text {
        font-size: 20px;
    }

    .benefits__cards {
        grid-template-columns: 1fr;
    }

    .episode__main {
        flex-direction: column;
        align-items: center;
    }
    
    .episode__album {
        min-width: none;
        width: 100%;
    }

    .article-and-news__cards {
        grid-template-columns: 1fr;
    }

}
@media screen and (max-width: 320px) {
    //
}
