@import 'fonts.scss';

:root {
    // COLORS
    --color-pewter-blue: #81ADC8;
    --color-davys-grey: #4D4D4D;
    --color-vermillion-gray: #CD4631;
    --color-champagne: #F7EDE8;
    --color-alice-blue: #EDF3F7;
    //CONTAINER
    --container-max-width: 1160px;
    --container-paddind-inline: 30px;
    //OTHERS
    --header-height: 134px;
}

html {
    font-family: 'MontserratAlternates',sans-serif;
    font-size: 16px;
    background-color: var(--color-champagne);
}

* {
    box-sizing: border-box;
    // outline: 1px solid grey;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-inline: var(--container-paddind-inline);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);

}

.nav-full__ul {
    display: flex;
    align-items: center;
    padding: 28px 0;
}
.nav-full__logo {
    margin-right: 125px;
}

.nav-full__li-menu {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    transition: 0.2s;

    svg {
        position: relative;
        top: 2px;
        left: 4px;
    }
    &:nth-child(4) {
        margin-right: auto;
    }
        &:hover {
        color: var(--color-vermillion-gray);
    }
}

.nav-full__li:last-child > * {
    margin-right: 0;
}

.nav-full__mob-menu-button {
    display: none;
    margin-left: auto;
    height: calc(var(--header-height) * 0.5);
    aspect-ratio: 1;
    background-color: #4D4D4D;
}


.button {
    display: block;
    --_fill-color: var(--fill-color, transparent);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid black;
    color: black;
    background-color: var(--_fill-color);
    margin-inline: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.button_big {
    padding: 24px 48px;
}

.button_filled {
    color: white;
    --fill-color: black;
}

.button_shadow {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.button_transparent:hover {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.button_filled:hover {
    transform: translateY(-3px);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 3.7em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.2px;
    text-align: center
}

.hero__title {
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -3.9px;
    margin-bottom: 30px;
}

.parag {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    color: var(--color-davys-grey);
}

.accent-color-text {
    color: var(--color-vermillion-gray);
}

.hero {
    background-image: url('../img/vectors/Hero-Shape-Swirl-full.svg'), url('../img/decor/Hero-Shape-2.png');
    background-repeat: no-repeat;
    background-position-x: -100px, calc(100% - 60px);
    background-position-y: center;
    padding-block: var(--header-height) 60px;
}

@import './pages/index.scss';
@import './media.scss';
