@import 'fonts.scss';

:root {
    // COLORS
    --color-pewter-blue: #81ADC8;
    --color-davys-grey: #4D4D4D;
    --color-vermillion: #CD4631;
    --color-champagne: #F7EDE8;
    --color-alice-blue: #EDF3F7;
    //CONTAINER
    --container-max-width: 1220px;
    --container-paddind-inline: 30px;
    //OTHERS
    --header-height: 100px;
}

html {
    font-family: 'MontserratAlternates',sans-serif;
    font-size: 16px;
    background-color: var(--color-champagne);
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    // outline: 1px solid grey;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &.inline-link {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

section {
    padding-block: 120px;
}

hr {
    border: none;
    height: 0.7px;
    background-color: var(--color-davys-grey);
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-inline: var(--container-paddind-inline);
}
.container_small {
    max-width: 766px;
    margin: 0 auto;
    padding-inline: var(--container-paddind-inline);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 10;
}

.header_after-scroll {
    box-shadow: 0 0 19px 1px #00000080;
    background-color: var(--color-champagne);
}

.scroll-lock {
    height: 100%;
    overflow: hidden;
}

.nav-full__ul {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: var(--header-height);
}
.nav-full__main-logo {
    margin-right: 125px;
    width: calc(var(--header-height) * 0.7);
}

.nav-full__li-menu {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    transition: 0.2s;

    svg {
        position: relative;
        top: 2px;
        left: 4px;
    }
    &:nth-child(4) {
        margin-right: auto;
    }
    &:hover {
        color: var(--color-vermillion);
    }
}

.nav-full__li:last-child > * {
    margin-right: 0;
}


.nav-full__li-menu.more {
    position: relative;
    cursor:pointer;
    .nav-full__more-window {
        visibility: hidden;
        position: absolute;
        top: 0%;
        opacity: 0;
        transition: 0.3s;
        transition-property: top opacity;
        transition-delay: 0.5s;
        width: max-content;
        border-radius: 8px;
        box-shadow: 0px 0px 11px 0px #00000033;
        left: -2rem;
        background-color: #fff;
        padding: 0.5rem 2rem;
        color: black;

        .nav-full__more-li {
            margin-block: 1rem;
            transition: 0.3s;
            &:hover {
                color: var(--color-vermillion);
            }
        }
    }

    &:hover {
        .nav-full__more-window {
            visibility: visible;
            transition-delay: 0.15s;
            opacity: 1;
            top: 150%;
        }
    }
}

.button {
    display: block;
    --_fill-color: var(--fill-color, transparent);
    font-family: 'MontserratAlternates',sans-serif;;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid black;
    color: black;
    background-color: var(--_fill-color);
    margin-inline: 10px;
    cursor: pointer;
    transition: 0.25s;
    width: max-content;
}

.button_big {
    padding: 20px 40px;
    line-height: 160%;
}

.button_filled {
    color: white;
    --fill-color: black;
}

.button_shadow {
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.button_transparent:hover {
    transform: translateY(-3px);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.button_filled:hover {
    transform: translateY(-3px);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 3.7em;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.2px;
    text-align: center;
    margin-bottom: 20px;
}

.hero__title {
    font-size: 96px;
    line-height: 100%;
    letter-spacing: -3.9px;
    margin-bottom: 30px;
}

.parag {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    color: var(--color-davys-grey);
}

.accent-color-text {
    color: var(--color-vermillion);
}

.nav-full__mob-menu-button {
    display: none;
    margin-left: auto;
    height: calc(var(--header-height) * 0.55);
    aspect-ratio: 1;
    background-image: url('../img/icons/burger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.nav-mob__close-button {
    display: block;
    margin-left: auto;
    height: calc(var(--header-height) * 0.5);
    aspect-ratio: 1;
    background-image: url('../img/icons/burger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.nav-full__mob-menu-button_active {
    background-image: url('../img/icons/Cross.svg');
    rotate: 180deg;
}

.nav-mob__ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 100dvh;
    width: 100vw;
    padding: 2rem 2rem 0 1rem;
    background-color: var(--color-champagne);
    box-shadow: 0 0 47px 20px #3833339e;
    transition: 0.5s;
    transform: translateX(100%);
    overflow: auto;
}

.nav-mob__ul_active {
    transform: translateX(0);
    opacity: 1;
}


.nav-mob__li-menu { 
    font-size: 3em;
    font-weight: 700;
    text-align: end;
    padding: 3rem 0.5rem;

    svg {
        display: none;
    }
}


.beta {
    // display: block;
    // width: max-content;
    text-align: center;
    color: var(--color-vermillion);
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    padding: 0 6px;
    border-radius: 4px;
    border: 1px solid var(--color-vermillion);
    text-transform: uppercase;
    // margin-inline: auto;
}


.hero {
    background-image: url('../img/vectors/Hero-Shape-Swirl-full.svg'), url('../img/decor/Hero-Shape-2.png');
    background-repeat: no-repeat;
    background-position-x: -100px, calc(100% - 60px);
    background-position-y: center;
    padding-block: var(--header-height) 60px;
}

.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 70px auto;
}

.footer__upside {
    background-color: var(--color-alice-blue);
    background-blend-mode: multiply;
    background-image: url('@img/Home-footer.png'), url('@img/play-footer.png');
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: bottom;
    background-size: clamp(23%, 23%, 100px);
    text-align: center;
    position: relative;
    border-bottom: 1.5px solid var(--color-davys-grey);
    .album__platforms > * > * path {
        fill: black;
    }
}

.footer__title {
    margin: 25px 0;
}

.footer__button {
    margin: 140px auto 1.5rem;
}

.footer__downside {
    background-color: #fff;
    padding-bottom: 80px;

    hr {
        margin-top: 100px
    }
}

.footer__downside-parag {
    text-align: start;
}

.footer__content_flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.footer__downblock-1 {
    flex-basis: 200px;
}

.socials {
    svg:hover path {
        fill: var(--color-vermillion);
    }
}

.footer__downblock-2 {
    display: flex;
    gap: 60px;

    li {
        margin-block: 10px;
        line-height: 160%;
        transition: 0.3s;
        font-weight: 500;
        &:hover {
            color: var(--color-vermillion);
        }
    }
}

.footer__downblock-3 {
    width: max-content;
    #spotify-logo,
    #google-podcasts-logo,
    #youtube-logo {
        width: 120px;
        margin-inline: 5px
    }
    .footer__platforms {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 60px
    }
}

.footer__footer {
    @extend .episode__footer;
}


@import './pages/index.scss';
@import './pages/about.scss';
@import './pages/episodes.scss';
@import './pages/articles.scss';
@import './media.scss';


.modal {

    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: 0 0 20px 10px #00000066;
    border-radius: 8px;

    form {
        padding-inline: 3rem;
        padding-block: 1rem 2rem;
        max-width: 532px;
        background-color: #fff;
    }
    &::backdrop {
        background: rgba(0, 0, 0, 0.32);
    }

    .modal__close {
        position: relative;
        right: -2rem;
        display: block;
        margin-left: auto;
        background-color: transparent;
        margin-block-end: 1rem;
        border: none;
        padding: 0;
    }

    .modal__input {
        display: block;
        width: 100%;
        // max-width: 500px;
        margin: 0 auto;
        font-family: "MontserratAlternates", sans-serif;
        line-height: 160%;
        font-weight: 700;
        padding: 10px;
        border-radius: 8px;
        border: 1.5px solid black;
        margin-block: 2.5rem;
    }

    .modal__submit {
        margin: 0 auto;
    }
}